:root {
  --color-primary: #4d30ff;
  --color-secondary: #22eee2;
  --color-bg-secondary: #1c1c21;
  --color-heading: #ffc2af;
  --color-grey: #82828d;
  --color-yellow-heading: #ffe897;
  --color-purple-heading: #8f7cff;
  --color-border-primary: rgba(255, 255, 255, 0.1);
  --color-border-secondary: rgba(255, 255, 255, 0.2);
  --color-line: #ef7d60;
}

@import "./_main.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
